<h1>Leaderboard</h1>

<table>
  <thead>
  <tr>
    <th></th>
    <th>Name</th>
    <th>Translations</th>
    <th>Score</th>
  </tr>
  </thead>
  <tbody>
  <%= render @users %>
  </tbody>
</table>

<br>