<div style = "margin:10px">
<p style = "margin: 10px">
  <strong>Name:</strong>
  <%= @user.name %>
  <strong>Reputation:</strong>
  <%= @user.reputation %>
</p>

<%= render @user.projects %>

</div>
