<div class="row">
	<div class="large-12 columns text-center">
		<h1 style="font-size: 60px;">Translate Community
		<br>
		<small>The web platform designed to help developers translate each others' applications.</small></h1>
	</div>
</div>

<div class="panel">
	<p>
		Good language support improves the quality of your applications. Moreover, internationalization helps you to affect more potential users.
	</p>
	<p>
		Translate Community helps you offer better translations for your apps. Submit items to translate and let other people do the work, but don't forget to support the community and help other developers too ! 
	</p>
</div>

<blockquote>
	<h3> Tired of seeing clumsy translations ? </h3>
	<p>
		Join our community and help us provide better language in applications.
	</p>
	<div class="row">
		<div class="large-6 columns">

			<p>
				<strong>Already have an account ?</strong>
				<br />
				<%= link_to 'Sign in', new_user_session_path, :class => "button" %>
			</p>
		</div>
		<div class="large-6 columns">
			<p>
				<strong>Create an account !</strong>
				<br />
				<%= link_to 'Sign up', new_user_registration_path, :class => "button", "data-no-turbolink" => true %>
			</p>
		</div>
	</div>
</blockquote>

