<h1>Welcome!</h1>

<div class="panel">
	<h3>We&rsquo;re stoked you want to try Foundation! </h3>
	<p>
		Translate Community is a web platform designed to help developers to translate each others' applications.
	</p>
	<p>
		TODO : description ++
	</p>
	<p>
		Tired to see approximative translations ?
	</p>
	<p>
		So join the community and help us to translate the world !
	</p>

	<div class="row">
		<div class="large-4 medium-4 columns">
			<p>
				Already an account ?<br />
				<%= link_to 'Sign in', new_user_session_path, :class => "small button" %>			
			</p>
		</div>
		<div class="large-4 medium-4 columns">
			<p>
				Create an account !<br />
				<%= link_to 'Sign up', new_user_registration_path, :class => "small button" %>
			</p>
		</div>
	</div>
</div>