<div class="row">
	<div class="large-12 columns text-center">
		<h1 style="font-size: 60px;">Translate Community
		<br>
		<small>Web platform designed to help developers to translate each others' applications.</small></h1>
	</div>
</div>

<div class="panel">
	<p>
		Good language support improves the quality of your applications. Moreover, internationalization helps you to affect a lot of potential new users.
	</p>
	<p>
		In that way, Translate Community helps you to offer better translations for your apps. Submit items to translate and let other people make the work, but don't forget to support the community and help other developers too ! 
	</p>
</div>

<blockquote>
	<h3> Tired to see approximative translations ? </h3>
	<p>
		So join the community and help us to translate the world !
	</p>
	<div class="row">
		<div class="large-6 columns">

			<p>
				<strong>Already an account ?</strong>
				<br />
				<%= link_to 'Sign in', new_user_session_path, :class => "button" %>
			</p>
		</div>
		<div class="large-6 columns">
			<p>
				<strong>Create an account !</strong>
				<br />
				<%= link_to 'Sign up', new_user_registration_path, :class => "button", "data-no-turbolink" => true %>
			</p>
		</div>
	</div>
</blockquote>

