<%= div_for item do %>
<div class= "panel" >
	<h2><%= item.key %></h2>
	<div><%= button_to "offer translation", new_item_translation_path(item.id), :class => "button inverse-dark tiny", :method => :get %></div>
	<%= render item.translations %>
	
</div>
<% end %>